#wp-admin-bar-vault_status{
	cursor: pointer;
	min-width: 200px;
}
#wp-admin-bar-vault_status > div{
	padding: 0 !important;
}

#wp-admin-bar-vault_status input{
	display: none;
}
#wp-admin-bar-vault_status .title{
	padding-left: 10px;
}


#wp-admin-bar-vault_status.request_toggle_status .title{
	display: none;
}
#wp-admin-bar-vault_status.request_toggle_status input{
	display: block;
	border: 0 !important;
	width: calc( 100% - 20px );
	padding: 0 10px 0 10px;
}


#wp-admin-bar-vault_status.lock{
	background-color: rgb(255, 0, 76);
}

#wp-admin-bar-vault_status.unlock{
	background-color: rgb(0, 255, 157);
}
#wp-admin-bar-vault_status.unlock button{
	display: none;
	border: 0;
	background-color: rgb(255, 179, 0);
	width: calc( 100% - 20px );
	padding: 0 10px;
	text-align: left;
}
#wp-admin-bar-vault_status.unlock .title{
	color: black;
}

#wp-admin-bar-vault_status.unlock:hover .title{
	display: none;
}
#wp-admin-bar-vault_status.unlock:hover button{
	display: block;
}

#carapace_wrapper{

}
#carapace_wrapper h2{
	font-size: 28px;
	margin-bottom: 10px;
}
#carapace_wrapper h3{
	font-size: 26px;
}

#carapace_wrapper .center{
	text-align: center;
}

#carapace_wrapper .configuration{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
#carapace_wrapper .config textarea{
	height: 200px;
	width: 100%;
}
#carapace_wrapper .config .config_value{
	max-width: 600px;
	width: 100%;
	background: rgb(255, 237, 240);
	border: 2px solid rgb(255, 118, 141);
	padding: 10px;
	border-radius: 15px;
	outline: none;
	box-shadow: none;
}
#carapace_wrapper .configuration .for-submit{
	grid-column: 1 / -1;
}
#carapace_wrapper .for-submit{
	text-decoration: none;
	background: rgb(255, 237, 240);
	border: 2px solid rgb(255, 136, 156);
	color: rgb(255, 91, 118);
	border-radius: 15px;
	padding: 20px 30px;
	display: flex;
	align-items: center;
	margin: 60px auto 0 auto;
	font-size: 20px;
	font-weight: 600;
	transition: background 0.3s;
	cursor: pointer;
}
#carapace_wrapper .for-submit:hover{
	background: rgb(255, 217, 223);
}
#carapace_wrapper .for-submit:hover svg{
	fill: rgb(255, 151, 169);
}
#carapace_wrapper .for-submit svg{
	margin-right: 10px;
}

#carapace-configuration-form .carapace_error{
	background: rgb(255, 54, 54);
	color: white;
	font-size: 14px;
	padding: 15px;

}
#carapace-configuration-form{
	margin-top: 50px;
	max-width: 800px;
}
#carapace-configuration-form .step{
	margin-top: 30px;
	position: relative;
	margin-left: 60px;
}
#carapace-configuration-form .step + .step{
	margin-top: 60px;
}
#carapace-configuration-form .step:before{
	position: absolute;
	left: -60px;
	top: 0;
	content:attr(data-value);
	width: 40px;
	height: 40px;
	display: flex;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	background: pink;
	font-size: 16px;
	font-weight: 500;
}
#carapace-configuration-form .step h3{
	margin: 0 0 10px 0;
}
#carapace-configuration-form .step p{
	margin: 0;
	font-size: 16px;
}
#carapace-configuration-form .field{
	background: rgb(255, 237, 240);
	border: 2px solid rgb(255, 118, 141);
	padding: 40px;
	border-radius: 15px;
	margin-top: 10px;
}
#carapace-configuration-form .field label{
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
	color: rgb(255, 118, 141);
}
#carapace-configuration-form .field label + p{
	margin-top: -5px;
	margin-bottom: 10px;
	font-size: 14px;
	opacity: 0.8;
}
#carapace-configuration-form .field .wrapper-input{
	border: 1px solid rgb(254, 161, 177);
	border-radius: 10px;
	padding: 10px;
	display: flex;
	background: rgb(255, 209, 216);
	align-items: center;
}
#carapace-configuration-form .field .wrapper-input input{
	width: 100%;
	border: 0;
	margin-left: 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	font-size: 18px;
}
#carapace-configuration-form .step[data-value="3"] .wrapper-input{
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-auto-rows: 1fr;
	align-items: stretch;
	background: transparent;
	border: 0;
}
#carapace-configuration-form .step[data-value="3"] input{
	display: none;
}
#carapace-configuration-form .step[data-value="3"] label{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	border:2px solid transparent;
	border-radius: 10px;
	margin: 0;
	background: rgb(255, 228, 232);
	padding: 20px;
	position: relative;
	cursor: pointer;
}
#carapace-configuration-form .step[data-value="3"] label .description{
	position: relative;
	padding-left: 40px;
}
#carapace-configuration-form .step[data-value="3"] label .description svg{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}
#carapace-configuration-form .step[data-value="3"] label .description p{
	color: black;
	font-size: 18px;
}
#carapace-configuration-form .step[data-value="3"] label .description p + p{
	color: rgb(255, 118, 141);
	font-size: 14px;
}
#carapace-configuration-form .step[data-value="3"] label:has(input:checked) {
	background: rgb(254, 161, 177);
	border: 2px solid rgb(255, 136, 156);
	color: white;
}
#carapace-configuration-form .step[data-value="3"] label:has(input:checked) p + p{
	color: white;
}



