#wp-admin-bar-vault_status{
	cursor: pointer;
	min-width: 200px;
}
#wp-admin-bar-vault_status > div{
	padding: 0 !important;
}

#wp-admin-bar-vault_status input{
	display: none;
}
#wp-admin-bar-vault_status .title{
	padding-left: 10px;
}


#wp-admin-bar-vault_status.request_toggle_status .title{
	display: none;
}
#wp-admin-bar-vault_status.request_toggle_status input{
	display: block;
	border: 0 !important;
	width: calc( 100% - 20px );
	padding: 0 10px 0 10px;
}


#wp-admin-bar-vault_status.lock{
	background-color: rgb(255, 0, 76);
}

#wp-admin-bar-vault_status.unlock{
	background-color: rgb(0, 255, 157);
}
#wp-admin-bar-vault_status.unlock button{
	display: none;
	border: 0;
	background-color: rgb(255, 179, 0);
	width: calc( 100% - 20px );
	padding: 0 10px;
	text-align: left;
}
#wp-admin-bar-vault_status.unlock .title{
	color: black;
}

#wp-admin-bar-vault_status.unlock:hover .title{
	display: none;
}
#wp-admin-bar-vault_status.unlock:hover button{
	display: block;
}